    <section class="hero py-16">
       <div class="container mx-auto flex items-center justify-between">
            <!--for left side-->
            <div class="w-1/2">
                <h6 class="text-lg"><i>Are You Hungry? </i></h6>
                <h1 class="text-6xl font-bold">Don't Wait AnyMore...</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <!--for right side-->
            <div  class="w-1/2">
                <img class="rounded-xl" src="/image/pizza.png" height="800px" width="800px">
            </div>
       </div>
    </section>
    <section clas="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8 ml-4">All Pizzas</h1>
        <!--wrapper for set all card-->
        <div class="grid grid-cols-4 gap-y-10">
            <!--create card 1-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/margrita.png" alt="pizza">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margerita</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.250</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--create card 2-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/farmhouse.jpg" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">farmhouse</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.320</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--create card 3-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/Corn_&_Cheese.png" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Cheese & Corn</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Medium</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.200</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--create card 4-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/tomato.png" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Tomato & Cheese</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.220</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
             <!--create card 5-->
             <div>
                <img class="h-40 mb-4 mx-auto" src="/image/large.png" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">marinara</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Large</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.550</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--create card 6-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/margrita.png" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margerita</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.250</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--create card 7-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/margrita.png" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margerita</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.250</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--create card 8-->
            <div>
                <img class="h-40 mb-4 mx-auto" src="/image/margrita.png" alt="pizz">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">margerita</h2>
                    <span class="size py-1 px-4 rounded-full uppercase ">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">RS.250</span>
                        <button class="add-to-cart py-1 px-6 rounded-lg flex items-center font-bold ">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>